.dashboardContainer {
  display: flex;
  max-height: 100vh;
  background-color: #06040b;
  color: #fcfcfd;
}

.dashboardContainer > .sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 25vw;
  height: 100vh;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--Grey-Primary);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.dashboardContainer > .sidebar > .firstView {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--Purple-Primary);
}

.dashboardContainer > .sidebar > .firstView > .h1 {
  color: var(--Purple-Secondary);
  font-size: 2.5rem;
}


.dashboardContainer > .sidebar > .firstView > .exitButton > button {
  background-color: var(--Purple-Primary);
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  color: white;
}

.dashboardContainer > .sidebar > .firstView > .exitButton > button:hover {
  background-color: var(--Purple-Secondary);
  cursor: pointer;
}

.dashboardContainer > .sidebar > .h2 {
  color: #aaa;
  font-size: 1rem;
}

.dashboardContainer > .sidebar > label {
  font-weight: bold;
  color: #fcfcfd;
}

.dashboardContainer > .sidebar > select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--Purple-Primary);
  border-radius: 5px;
  background: var(--Grey-Primary);
  color: #fcfcfd;
  cursor: pointer;
}

.dashboardContainer > .sidebar > .removeFilters {
  width: 80%;
  margin: auto;
  border: none;
  color: white;
  margin-top: 30px;
  background-color: var(--Purple-Primary);
  border-radius: 20px;
  padding: 12px;
  transition: .3s ease-in-out all;
}

.dashboardContainer > .sidebar > .removeFilters:hover {
  background-color: var(--Purple-Secondary);
  cursor: pointer;
  transform: scale(1.05);
}

.dashboardContainer > .mainPanel {
  width: 75vw;
  margin-left: 25vw;
}

.dashboardContainer > .mainPanel > .statsGrid {
  width: 75vw;
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.dashboardContainer > .mainPanel > .statsGrid > .statCard {
  background: var(--Purple-Primary);
  height: 50vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px 0px 30px 0px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboardContainer > .mainPanel > .statsGrid > .statCard:hover {
  transition: .3s ease-in-out;
  transform: scale(1.05);
  cursor: pointer;
}

.dashboardContainer > .mainPanel > .statsGrid > .statCard > h3 {
  width: 100%;
  font-size: 1rem;
  color: #fcfcfd;
}

.dashboardContainer > .mainPanel > .mainGraphs {
  display: flex;
  align-items: top;
  flex-direction: column;
  margin-left: 1rem;
}

.dashboardContainer > .mainPanel > .mainGraphs > .topMainGraphs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
}

.dashboardContainer > .mainPanel > .mainGraphs > .topMainGraphs > .topMainGraphsDivs {
  display: flex;
  flex-direction: column;
}

.dashboardContainer h2 {
  font-size: 1.5rem;
  margin-left: 10px;
}

.dashboardContainer > .mainPanel > .mainGraphs > div > .mainChart, .dashboardContainer > .mainPanel > .mainGraphs > div.topMainGraphs > div.topMainGraphsDivs > .mainChart {
  background: var(--Grey-Primary);
  padding: 10px;
  border-radius: 12px;
}