/* Font family */
@import url('https://fonts.cdnfonts.com/css/tt-hoves-pro-trial');


:root {
    --Black-Primary: #000000;
    --Grey-Primary: #9c9d9d;
    --Green-Primary: #3bb448;
    --Green-Secondary: #1e7f4b;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TT Hoves Pro Trial';
}

html, body {
    width: 100vw;
    overflow-x: hidden;
}

.content {
    display: flex;
    min-height: 100vh;
}

.content > .mainContent {
    width: 75vw;
}

@media screen and (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    .content > .mainContent {
        width: 75vw;
    }
}