/* Font family */
@import url('https://fonts.cdnfonts.com/css/tt-hoves-pro-trial');


:root {
    --Grey-Primary: #1f2937;
    --Purple-Primary: #3c2197;
    --Purple-Secondary: #5c34f4;
    --Purple-Third: #9479ff9d;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TT Hoves Pro Trial';
}

html, body {
    width: 100vw;
    overflow-x: hidden;
    background-color: #06040b;
    color: #fcfcfd;
}

.content {
    display: flex;
    min-height: 100vh;
}

.content > .mainContent {
    width: 75vw;
    margin-left: 25vw;
}

@media screen and (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    .content > .mainContent {
        width: 75vw;
    }
}