:root {
    --Black-Primary: #000000;
    --White-Primary: #f6f6f6;
    --Grey-Primary: #9c9d9d;
    --Green-Primary: #3bb448;
    --Green-Secondary: #1e7f4b;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: var(--White-Primary);
}