.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    height: 30vh;
    margin: 0px 20px;
}

.header > div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-top: 10px;
    width: 32%;
    padding: 5px 20px;
    font-weight: 700;
    border-radius: 40px;
    border: 2px solid var(--Grey-Primary);
    box-shadow: 1px 1px 1px var(--Grey-Primary);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.header > div:hover {
    border: 2px solid var(--Purple-Secondary);
    transform: scale(1.02);
}

.header > div > h2 {
    font-size: 1.5rem;
    font-weight: lighter;
}

.header > div > .midInformations {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.header > div > .midInformations > p {
    font-size: 2.5rem;
    font-weight: 500;
}

.header > div > .borderInformations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
} 

.header > div > .borderInformations > h3 {
    font-weight: 400;
} 

.header > div > .borderInformations > .countValue {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > div > .borderInformations > .countValue > svg {
    margin-right: 10px;
}

@media screen and (max-width: 1200px) {
    .header {
        height: fit-content;
        padding: 10px 0px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 100vw;
        height: fit-content;
        margin: 0px 0px;
        padding: 10px 0px;
        margin-bottom: 50px;
    }

    .header > div {
        padding: 10px 5px;
    }

    .header > div > h2 {
        font-size: 1.2rem;
    }

    .header > div > .midInformations > p {
        font-size: 1.5rem;
    }
}