.aside {
    height: 100vh;
    width: 25vw;
    border-right: 1px solid var(--Grey-Primary);
    position: fixed;
}

.aside > .headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 20px 10px;
    border-bottom: 1px solid var(--Grey-Primary);
}

.aside > .headline > .headlineTexts > h1 {
    font-size: 1.3rem;
    font-weight: 600;
}

.aside > .headline > .headlineTexts > p {
    color: var(--Grey-Primary);
    font-size: 1rem;
}

.aside > .headline > .headlineImage > img {
    border-radius: 100%;
    border: 1px solid var(--Grey-Primary);
}

.aside > .options {
    margin-top: 30px;
}

.aside > .options > ul > li {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 0px 10px 10px 0px;
    font-size: 1.3rem;
    cursor: pointer;
}

.aside > .options > ul > li:nth-child(1) {
    padding: 5px 0px 5px 20px;
    cursor: default;
}

.aside > .options > ul > li:nth-child(1):hover {
    background-color: white;
    color: black;
}

.aside > .options > ul > li:hover {
    background-color: var(--Green-Primary);
    color: white;
}

.aside > .options > ul > li > svg {
    margin-right: 20px;
}

/* FORM TO GET BY CLIENT NAME */
.inputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 14px 10px;
    border-radius: 12px;
    border: 2px solid var(--Grey-Primary);
}

.inputContainer > input {
    width: 90%;
    font-size:18px;
    border: none;
    outline: none;
}

.inputContainer > svg {
    cursor: pointer;
}

.inputContainer:hover, .inputContainer:focus {
    border: 2px solid var(--Green-Primary);
}

.inputContainer:hover > svg, .inputContainer:focus > svg {
    color: red;
}

@media screen and (max-width: 768px) {
    .aside {
        height: fit-content;
        width: 100vw;
        border-bottom: 1px solid var(--Grey-Primary);
    }
    
    .aside > .options > ul > li {
        font-size: 1.7rem;
        padding: 10px 0px;
        margin: 10px 10px;
        border-bottom: 1px solid var(--Grey-Primary);
    }

    .inputContainer {
        width: 100vw;
        border-radius: 12px;
    }

    .inputContainer > input {
        font-size: 1.7rem;
    }
    
}